{% extends 'base.html' %}
{% load static %}

{% block title %}Menu{% endblock title %}

{% block body %}
<h2 class="mb-4">Menu Info: </h2>

<div class="container ms-auto">
  <div class="row justify-content-start">
    {% for menu in menus %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="{{ menu.image.url }}" class="card-img-top" alt="{{ menu.name }}" style="width: 100%; height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ menu.name }}</h5>
          <p class="card-text">Price: {{ menu.price }}</p>
          <p class="card-text">Nutrition Data: {{ menu.nutrition_data }}</p>
          <p class="card-text">Allergic Data: {{ menu.allergic_data }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="text-center">
  <a href="{% url 'todays_special' %}" class="btn btn-primary">View Today's Special</a>
</div>

{% endblock body %}
